.gradient-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(306deg, rgba(255, 207, 0, 1) 0%, rgba(246, 0, 0, 1) 100%);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-universe {
    background-image: url('../public/assets/solar.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-logo {
    font-size: 17px;
    font-family: Montserrat;
    font-weight: bold;
}

.ul-text {
    font-size: 14px;
    font-family: Montserrat;
}

.heading-font {
    font-family: Montserrat;
}

.hover-scale:hover {
    transform: scale(1.1);
}

